/* dm.css */

.message-app {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    width: 400px;
  }
  
  .message-list {
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    
  }
  
  .message {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .message-input button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .message-input button:hover {
    background-color: #0056b3;
  }
  